.container{
  display: flex;
  width: max-content;
  margin-left: 5%;
  margin-top: 2%;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit{
  width: 40%;
  height: 10vh;
  margin: 2% auto;
  font-size: large;
}

.title{
  margin: 2% auto;
  width: fit-content;
  font-weight: 900;
}

.parentsInfo{
  background-color: #E3ecE4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5%;
  border-radius: 6px;
  margin: 2% auto;
}

.parentsInfo h4{
  text-align: center;
  margin: 3%;
}