

.container{
  background-color: rgb(233, 194, 194);
  padding: 2%;
  margin: auto;
}

.gridContainer{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: max-content;
}

.grid1{
  grid-column: 1;
  background-color: rgb(209, 144, 144);
  border: 1px solid black;
}

.grid2{
  grid-column: 2;
  background-color: rgb(162, 162, 170);
  border: 1px solid black;
}

.grid3{
  grid-column: 3;
  background-color: rgb(118, 112, 124);
  border: 1px solid black;
}