.container{
  background-color: azure;
  width: 100%;
  border: 1px solid black;
  padding: 2% 3%;
}

.container:hover{
  background-color: black;
  color: white;
}

.label{
  display: block;
  margin: 0 auto;
}
