.container{
  background-color: azure;
  border: 1px solid black;
  padding: 2% 3%;
  flex-basis: 40%;
}

.container:hover{
  background-color: black;
  color: white;
}

.label{
  display: block;
  margin: 0 auto;
  width: max-content;
}
