
.container{
  display: flex;
  width: 100%;
  margin-left: 5%;
  margin-top: 2%;
}

.form{
  display: flex;
  flex-direction: column;
}

.submit{
  width: 30%;
  height: 10vh;
  margin: 2% auto;
  font-size: large;
}