
.container{
  display: flex;
  width: 100%;
  margin-top: 2%;
}

.formContainer{
  background-color: #F8FbFb;
  width: 100%;
  border-radius: 10px;
  margin-right: 2%;
  padding: 1% 5%;
}

.form{
  display: flex;
  flex-direction: column;
}

.submit{
  width: 30%;
  height: 10vh;
  margin: 2% auto;
  font-size: large;
}