.container{
  display: flex;
  width: 100%;
  margin-left: 5%;
  margin-top: 2%;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;
}

.submit{
  width: 40%;
  height: 10vh;
  margin: 2% auto;
  font-size: large;
}

.title{
  margin: 2% auto;
  width: fit-content;
  font-weight: 900;
}

.props{
  background-color: rgb(158, 209, 230);
  margin: 1% 0;
  width: 100%;
  padding: 3%;
  border-radius: 15px;
}
