
.success{
  background-color: green;
  color: white;
  padding: 2% 5%;
  border-radius: 6px;
  font-weight: bold;
}

.failure{
  background-color: rgb(207, 23, 23);
  color: white;
  padding: 2% 5%;
  border-radius: 6px;
  font-weight: bold;
}