
.container{
  padding: 3%;
  background-color: rgb(131, 131, 226);
  margin: 1%;
  min-width: fit-content;
}

.list {
  padding: 0;
}

.list li{
  margin: 5% 0;
  list-style: none;
}

.list li a{
  text-decoration: none;
  color: black;
}